In [1]:
import numpy as np
import pandas as pd

In [2]:
trainsData = pd.read_csv('../data/train.csv')
dates = list(set(list(trainsData['date'])))
datesLen = len(dates)
trainsData.head()

,date,items,0,1,2,3,4,5,6,7,...,14,15,16,17,18,19,20,21,22,23
0,2014/1/1,AMB_TEMP,14,14,14,13,12,12,12,12,...,22,22,21,19,17,16,15,15,15,15
1,2014/1/1,CH4,1.8,1.8,1.8,1.8,1.8,1.8,1.8,1.8,...,1.8,1.8,1.8,1.8,1.8,1.8,1.8,1.8,1.8,1.8
2,2014/1/1,CO,0.51,0.41,0.39,0.37,0.35,0.3,0.37,0.47,...,0.37,0.37,0.47,0.69,0.56,0.45,0.38,0.35,0.36,0.32
3,2014/1/1,NMHC,0.2,0.15,0.13,0.12,0.11,0.06,0.1,0.13,...,0.1,0.13,0.14,0.23,0.18,0.12,0.1,0.09,0.1,0.08
4,2014/1/1,NO,0.9,0.6,0.5,1.7,1.8,1.5,1.9,2.2,...,2.5,2.2,2.5,2.3,2.1,1.9,1.5,1.6,1.8,1.5

In [9]:
trainsData.iloc[:18,:13]

,date,items,0,1,2,3,4,5,6,7,8,9,10
0,2014/1/1,AMB_TEMP,14,14,14,13,12,12,12,12,15,17,20
1,2014/1/1,CH4,1.8,1.8,1.8,1.8,1.8,1.8,1.8,1.8,1.8,1.8,1.8
2,2014/1/1,CO,0.51,0.41,0.39,0.37,0.35,0.3,0.37,0.47,0.78,0.74,0.59
3,2014/1/1,NMHC,0.2,0.15,0.13,0.12,0.11,0.06,0.1,0.13,0.26,0.23,0.2
4,2014/1/1,NO,0.9,0.6,0.5,1.7,1.8,1.5,1.9,2.2,6.6,7.9,4.2
5,2014/1/1,NO2,16,9.2,8.2,6.9,6.8,3.8,6.9,7.8,15,21,14
6,2014/1/1,NOx,17,9.8,8.7,8.6,8.5,5.3,8.8,9.9,22,29,18
7,2014/1/1,O3,16,30,27,23,24,28,24,22,21,29,44
8,2014/1/1,PM10,56,50,48,35,25,12,4,2,11,38,56
9,2014/1/1,PM2.5,26,39,36,35,31,28,25,20,19,30,41
10,2014/1/1,RAINFALL,NR,NR,NR,NR,NR,NR,NR,NR,NR,NR,NR
11,2014/1/1,RH,77,68,67,74,72,73,74,73,66,56,45
12,2014/1/1,SO2,1.8,2,1.7,1.6,1.9,1.4,1.5,1.6,5.1,15,4.5
13,2014/1/1,THC,2,2,2,1.9,1.9,1.8,1.9,1.9,2.1,2,2
14,2014/1/1,WD_HR,37,80,57,76,110,106,101,104,124,46,241
15,2014/1/1,WIND_DIREC,35,79,2.4,55,94,116,106,94,232,153,283
16,2014/1/1,WIND_SPEED,1.4,1.8,1,0.6,1.7,2.5,2.5,2,0.6,0.8,1.6
17,2014/1/1,WS_HR,0.5,0.9,0.6,0.3,0.6,1.9,2,2,0.5,0.3,0.8

In [4]:
dataDay = trainsData[trainsData['date']==dates[0]]
PM2_5 = dataDay[dataDay['items']=='PM2.5'].iloc[:,2:].values.tolist()
PM2_5 = [int(x) for x in PM2_5[0]]

In [5]:
train = []
for i in range(datesLen):
    dataDay = trainsData[trainsData['date']==dates[i]]
    PM2_5 = dataDay[dataDay['items']=='PM2.5'].iloc[:,2:].values.tolist()
    PM2_5 = [int(x) for x in PM2_5[0]]
    columnName = dataDay.iloc[:,1]
    for j in range(15):
        item = {}
        label = PM2_5[j+9]
        data = dataDay.iloc[:,2+j:2+9+j]
        data = pd.concat([columnName,data],axis=1)
        item['label'] = label
        item['data'] = data
        train.append(item)

In [6]:
data

           items    14    15    16    17    18    19    20    21    22
1116    AMB_TEMP    22    22    22    21    20    20    20    20    20
1117         CH4   1.7   1.7   1.7   1.7   1.6   1.6   1.6   1.6   1.6
1118          CO  0.69  0.46  0.46  0.48   0.4  0.33  0.32  0.32  0.35
1119        NMHC  0.37  0.27  0.24  0.22  0.17  0.11  0.08   0.1  0.13
1120          NO   2.8     3   3.2   2.8   1.1   1.2   1.2   1.1     1
1121         NO2    23    21    25    27    15    10   8.2   7.5   9.1
1122         NOx    26    24    28    30    16    12   9.4   8.6    10
1123          O3    43    45    39    21    37    38    38    37    34
1124        PM10    86    93    93    73    64    60    58    48    42
1125       PM2.5    49    54    66    68    56    46    32    36    33
1126    RAINFALL    NR    NR    NR    NR    NR    NR    NR    NR    NR
1127          RH    75    79    78    82    82    83    82    81    81
1128         SO2   4.5   3.9   6.1   6.4     2   1.4   1.3   1.2   1.3
1129         THC   2.1     2   1.9   1.9   1.8   1.7   1.7   1.7   1.8
1130       WD_HR   267   319   311   312   8.6    63    65    59    56
1131  WIND_DIREC   317   327   317   318    70    60    73    53    56
1132  WIND_SPEED   2.5   1.6   2.1   2.3   1.6     2     2   1.2   3.6
1133       WS_HR   1.8   1.4   2.2   1.8   0.4   1.1   1.1   1.3   1.5

In [ ]:
dataIndex

In [ ]:
dataDay[dataIndex]